.nav-container {
    /* align-content: center; */
    /* background-color: rgb(254, 238, 220);*/
    background-color: #FFF7E4;
}

div .nav-content {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;

    padding-top: 50px;
    padding-bottom: 10px;
}

img {
    max-width: 350px;
}

/* nav ul {
 align-content: end;
} */

nav ul li {
    display: inline;
    padding: 0px 20px;
    font-size: 1em;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: rgb(56, 32, 0);
}

nav ul li a:hover {
    color: rgb(229, 131, 3);
    transition: 1s;
}